*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
form{
    display: flex;
    flex-direction: column;
    border: 2px solid;
    padding: 25px;
    margin-top: 15%;
    width: 40vw;
    height: 50vh;
    align-items: center;
    justify-content: center;
    line-height: 1.6rem;
}
